<ion-content>

  <ion-row class="ion-text-right ion-justify-content-end">
    <ion-button (click)="logout()" color="danger">Deconnexion</ion-button>
  </ion-row>

  <ion-thumbnail>
    <ion-img src="../../assets/images/undraw_profile_pic_ic5t.svg"></ion-img>
  </ion-thumbnail>

  <p class="ion-text-center">{{surname}} {{name}}</p>

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="woman-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col>{{height}} cm</ion-col>
    <ion-col>{{weight}} Kg</ion-col>
    <ion-col>IMC : {{imc}}</ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-item lines="none" color="transparent" class="list" routerLink="/tabs/profil-user" routerDirection="forward">
    <ion-icon class="icon-footer" name="information-circle"></ion-icon>
    <ion-label >Informations Personnelles
      <ion-icon name="arrow-forward-outline" item-right></ion-icon>
    </ion-label>
  </ion-item>

  <ion-item lines="none" color="transparent" class="list" routerLink="/tabs/objectifs" routerDirection="forward">
    <ion-icon class="icon-footer" name="list"></ion-icon>
    <ion-label>Mes Objectifs
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label>
  </ion-item>

  <ion-item lines="none" color="transparent" class="list" routerLink="/tabs/stats" routerDirection="forward">
    <ion-icon  class="icon-footer" name="podium"></ion-icon>
    <ion-label>
      Mes Statistiques
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label>
  </ion-item>

  <ion-item lines="none"  color="transparent" class="list" routerLink="/tabs/charts" routerDirection="forward">
    <ion-icon class="icon-footer" name="trending-up"></ion-icon>
    <ion-label>Ma Progression
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label>
  </ion-item>

</ion-footer>
