<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-back-button mode="ios" [text]="retour" defaultHref="update-user"></ion-back-button>
      </ion-col>
    </ion-row>

    <form [formGroup]="updateFormPassword" (ngSubmit)="onSubmit()">
      <ion-row class="ion-justify-content-center">
        <h2>Modifier votre mot de passe</h2>
      </ion-row>
      <ion-row>
        <ion-input type="password" placeholder="Votre mot de passe actuel" name="oldPassword" formControlName="oldPassword"></ion-input>
      </ion-row>
      <ion-row>
        <ion-input type="password" placeholder="Votre nouveau mot de passe" name="newPassword" formControlName="newPassword"></ion-input>
      </ion-row>
      <div *ngIf="updateFormPassword.get('newPassword').value && f.newPassword.errors">
        <div class="error-danger" *ngIf="f.newPassword.errors.required">Merci de renseigner votre mot de passe.
        </div>
        <div class="error-danger" *ngIf="f.newPassword.errors.minlength">Le mot de passe doit faire au moins 8
          caractères.
        </div>
        <div class="error-danger" *ngIf="f.newPassword.errors.pattern">Le mot de passe doit contenir au moins une
          lettre majuscule, un chiffre et un caractère spécial.
        </div>
      </div>
      <ion-row>
        <ion-input type="password" placeholder="Confirmez votre nouveau mot de passe" name="newPasswordVerif" formControlName="newPasswordVerif"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" [disabled]="updateFormPassword.invalid">Valider</ion-button>
      </ion-row>
    </form>
    <p class="ion-color-danger">{{errorMessage}}</p>
  </ion-grid>
</ion-content>
