<ion-content>

  <ion-icon routerLink="/tabs/objectifs"  class="returnButton" name="arrow-back-outline"></ion-icon>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Objectif</ion-label>
    </ion-item>

    <ion-card-content *ngIf="currentObjective">
      <ion-row>
        <ion-col class="obj-title">Type</ion-col>
        <ion-col class="obj-title">Objectif</ion-col>
        <ion-col class="obj-title">Début</ion-col>
        <ion-col class="obj-title">Fin</ion-col>
      </ion-row>

      <ion-row *ngFor="let objective of currentObjective">
        <ion-col class="obj-col">{{objective.type}}</ion-col>
        <ion-col class="obj-col" *ngIf="objective.type=='Sport'">{{objective.valueObjectif}}</ion-col>
        <ion-col class="obj-col" *ngIf="objective.type=='Cigarette'">{{objective.valueObjectif}}/j</ion-col>
        <ion-col class="obj-col" *ngIf="objective.type=='Alcool'">0</ion-col>
        <ion-col class="obj-col" *ngIf="objective.type=='Poids'">{{objective.valueObjectif}}g/j</ion-col>
        <ion-col class="obj-col">{{objective.begin_at}}</ion-col>
        <ion-col class="obj-col">{{objective.end_at}}</ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <form [formGroup]="objectiveForm" (ngSubmit)="updateObjectif()">
    <ion-button type="submit" name="valid" (click)="getValueValid($event);" value="1">Valider l'objectif</ion-button>
    <ion-button type="submit" name="noValid" value="2" (click)="getValueValid($event);">Objectif non atteint</ion-button>
    <ion-button type="submit" name="deleteObjectif" value="0" (click)="getValueValid($event);">Supprimer l'objectif</ion-button>
    <ion-input formControlName="typeObjectif" type="hidden" value="{{typeObj}}"></ion-input>
  </form>



</ion-content>
