<ion-content>


<ion-icon routerLink="/tabs/profil"  class="returnButton" name="arrow-back-outline"></ion-icon>

  <ion-button class="button-add-objective" routerLink="/tabs/add-objectif">
    <ion-icon name="add" ></ion-icon>Créer votre objectif !
  </ion-button>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Mes objectifs en cours</ion-label>
    </ion-item>

    <ion-card-content *ngIf="objectives">
      <ion-row>
        <ion-col class="obj-title">Type</ion-col>
        <ion-col class="obj-title">Objectif</ion-col>
        <ion-col class="obj-title">Début</ion-col>
        <ion-col class="obj-title">Fin</ion-col>
      </ion-row>

      <ion-row *ngFor="let objective of objectives">
        <div class="flex" *ngIf="objective.success === false">
          <ion-col class="obj-col">{{objective.type}}</ion-col>
          <ion-col class="obj-col" *ngIf="objective.type=='Sport'">{{objective.valueObjectif}}</ion-col>
          <ion-col class="obj-col" *ngIf="objective.type=='Cigarette'">{{objective.valueObjectif}}/j</ion-col>
          <ion-col class="obj-col" *ngIf="objective.type=='Alcool'">0</ion-col>
          <ion-col class="obj-col" *ngIf="objective.type=='Poids'">{{objective.valueObjectif}}g/j</ion-col>
          <ion-col class="obj-col">{{objective.begin_at}}</ion-col>
          <ion-col class="obj-col">{{objective.end_at}}</ion-col>
          <ion-icon routerLink="/tabs/update-objectif/{{objective.id}}" name="ellipsis-horizontal-outline"></ion-icon>
        </div>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Mes objectifs terminés</ion-label>
    </ion-item>
  <ion-card-content *ngIf="objectives">
    <ion-row>
      <ion-col class="obj-title">Type</ion-col>
      <ion-col class="obj-title">Objectif</ion-col>
      <ion-col class="obj-title">Début</ion-col>
      <ion-col class="obj-title">Fin</ion-col>
    </ion-row>

  <ion-row *ngFor="let objective of objectives">
    <div class="flex" *ngIf="objective.success === true">
      <ion-col class="obj-col">{{objective.type}}</ion-col>
      <ion-col class="obj-col" *ngIf="objective.type=='Sport'">{{objective.valueObjectif}}</ion-col>
      <ion-col class="obj-col" *ngIf="objective.type=='Cigarette'">{{objective.valueObjectif}}/j</ion-col>
      <ion-col class="obj-col" *ngIf="objective.type=='Alcool'">0</ion-col>
      <ion-col class="obj-col" *ngIf="objective.type=='Poids'">{{objective.valueObjectif}}g/j</ion-col>
      <ion-col class="obj-col">{{objective.begin_at}}</ion-col>
      <ion-col class="obj-col">{{objective.end_at}}</ion-col>
    </div>
  </ion-row>
  </ion-card-content>
  </ion-card>
</ion-content>
