<ion-content>

  <ion-row>
    <ion-col>
      <ion-back-button mode="ios" text="retour"></ion-back-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <h2>Modifier vos informations</h2>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-text-center">
    <h4>Mettre à jour vos informations personnel : </h4>
    <ion-col>
      <ion-text>
        <p>Prenom : <strong>{{surname}}</strong></p>
        <p>Nom : <strong>{{name}}</strong></p>
        <p>Pseudo : <strong>{{pseudo}}</strong></p>
      </ion-text>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-button routerLink="update-user-informations">Modifier</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-text-center">
    <h4>Vous souhaitez mettre à jour vos coordonnées :</h4>
    <ion-col>
      <ion-text>
        <p>Ville : <strong>{{city}}</strong></p>
        <p *ngIf="address">Adresse : <strong>{{address}}</strong></p>
        <p *ngIf="!address">Adresse : <strong>Ajoutez votre adresse !</strong></p>
        <p *ngIf="postalCode">Code postal : <strong>{{postalCode}}</strong></p>
        <p *ngIf="!postalCode">Code postal : <strong>Ajoutez votre code postal !</strong></p>
      </ion-text>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-button routerLink="update-user-contact">Modifier</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-text-center">
    <h4>Mettre à jour votre mot de passe : </h4>
    <ion-button routerLink="update-user-password">Modifier</ion-button>
  </ion-row>


</ion-content>

